{% extends "base.html" %}
{% set title = _('Spam Moderators Dashboard') %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block content %}

    <div class="dashboard">
        <h1>{{ title }}</h1>
        <h2>{{ _('Summary') }}</h2>
          {% if summary.total %}
            <p>
                {{ ngettext('Yesterday there were:',
                           'Over the past %(num)s days, there were:',
                           summary.days) }}
                <ul>
                    <li>
                        {{- ngettext('%(num)s attempted edit',
                                     '%(num)s attempted edits',
                                     summary.total) -}}
                    </li>
                    <li>
                        {{- ngettext('%(num)s good contribution',
                                     '%(num)s good contributions',
                                     summary.published_ham) -}}
                    </li>
                    <li>
                        {{- ngettext('%(num)s blocked spam edit (%(rate)0.1f%% of all edits)',
                                     '%(num)s blocked spam edits (%(rate)0.1f%% of all edits)',
                                     summary.blocked_spam,
                                     rate=(100 * summary.blocked_spam_rate)) -}}
                    </li>
                    <li>
                        {{- ngettext('%(num)s blocked ham edit (%(rate)0.1f%% false positive rate)',
                                     '%(num)s blocked ham edits (%(rate)0.1f%% false positive rate)',
                                     summary.blocked_ham,
                                     rate=(100 * summary.blocked_ham_rate)) -}}
                    </li>
                    <li>
                        {{- ngettext('%(num)s published spam edit (%(rate)0.1f%% false negative rate)',
                                     '%(num)s published spam edits (%(rate)0.1f%% false negative rate)',
                                     summary.published_spam,
                                     rate=(100 * summary.published_spam_rate)) -}}
                    </li>
                </ul>
            </p>
          {% else %}
            <p>
                {{ ngettext('There were no edits yesterday.',
                            'There were no edits in the past %(num)s days.',
                            summary.days) }}
            </p>
          {% endif %}
        <h2>{{ _('Trends') }}</h2>
        <h3>{{ _('Over Time') }}</h3>
            <table>
                <thead>
                    <tr>
                        <th rowspan=2 class="col-period head-period">{{ _('Period') }}</th>
                        <th colspan=9 class="col-group-this-period">{{ _('This Period') }}</th>
                        <th colspan=9 class="col-group-last-period">{{ _('Last Period') }}</th>
                    </tr>
                    <tr>
                        {% for group in ('current', 'previous') -%}
                        <th class="col-start">{{ _('Start') }}</th>
                        <th class="col-end">{{ _('End') }}</th>
                        <th class="col-total">{{ _('Total Edits') }}</th>
                        <th colspan=2 class="col-blocked-spam">{{ _('Blocked Spam') }}</th>
                        <th colspan=2 class="col-published-spam">{{ _('Published Spam') }}</th>
                        <th colspan=2 class="col-blocked-ham">{{ _('Blocked Ham') }}</th>
                        {%- endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in trends.over_time -%}
                    <tr>
                        <th scope="row" class="col-period">{{ names[row.id] | default(row.id) }}</th>
                        {% for group in ('current', 'previous') %}
                        <td class="date col-start">{{ row[group].start }}</td>
                        <td class="date col-end">{{ row[group].end }}</td>
                        <td class="data col-total">{{ row[group].total }}</td>
                        <td class="data col-blocked-spam">{{ row[group].blocked_spam }}</td>
                        <td class="rate col-blocked-spam">{{ "%0.1f%%" | format(100 * row[group].blocked_spam_rate) }} </td>
                        <td class="data col-published-spam">{{ row[group].published_spam }}</td>
                        <td class="rate col-published-spam">{{ "%0.1f%%" | format(100 * row[group].published_spam_rate) }}</td>
                        <td class="data col-blocked-ham">{{ row[group].blocked_ham }}</td>
                        <td class="rate col-blocked-ham">{{ "%0.1f%%" | format(100 * row[group].blocked_ham_rate) }}</td>
                        {%- endfor %}
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>
        <h3>{{ _("By User Groups and Change Types") }}</h3>
            <table>
                <thead>
                    <tr>
                        <th class="col-edit-group head-group">{{ _('User Group') }}</th>
                        <th class="col-edit-type head-change-type">{{ _('Edit Type') }}</th>
                        <th class="col-total">{{ _('Total Edits') }}</th>
                        <th colspan=2 class="col-blocked-spam">{{ _('Blocked Spam') }}</th>
                        <th colspan=2 class="col-published-spam">{{ _('Published Spam') }}</th>
                        <th colspan=2 class="col-blocked-ham">{{ _('Blocked Ham') }}</th>
                    </tr>
                </thead>
                <tbody>
                  {% for group_id in categories.group -%}
                    {% for change_type in change_types -%}
                        {% set page_id = change_type.fresh + '_' + change_type.lang -%}
                        {% set blocked_spam = summary[group_id + '_blocked_spam_' + page_id] -%}
                        {% set published_spam = summary[group_id + '_published_spam_' + page_id] -%}
                        {% set blocked_ham = summary[group_id + '_blocked_ham_' + page_id] -%}
                        {% set published_ham = summary[group_id + '_published_ham_' + page_id] -%}
                        {% set total = blocked_spam + published_spam + blocked_ham + published_ham -%}
                        {% if total -%}
                          {% set blocked_spam_rate = blocked_spam / total -%}
                          {% set blocked_ham_rate = blocked_ham / total -%}
                          {% set published_spam_rate = published_spam / total -%}
                        {% else -%}
                          {% set blocked_spam_rate = 0 -%}
                          {% set blocked_ham_rate = 0 -%}
                          {% set published_spam_rate = 0 -%}
                        {% endif -%}
                    <tr>
                        {% if loop.first -%}
                        <th scope="row" rowspan={{change_types | length}} class="col-edit-group">{{ names['group_' + group_id] | default(group_id) }}</th>
                        {% endif -%}
                        <th scope="row" class="col-change-type">{{ names[change_type.id] | default(change_type.id) }}</th>
                        <td class="data col-total">{{ total }}</td>
                        <td class="data col-blocked-spam">{{ blocked_spam }}</td>
                        <td class="rate col-blocked-spam">{{ "%0.1f%%" | format(100 * blocked_spam_rate) }} </td>
                        <td class="data col-published-spam">{{ published_spam }}</td>
                        <td class="rate col-published-spam">{{ "%0.1f%%" | format(100 * published_spam_rate) }} </td>
                        <td class="data col-blocked-ham">{{ blocked_ham }}</td>
                        <td class="rate col-blocked-ham">{{ "%0.1f%%" | format(100 * blocked_ham_rate) }} </td>
                    </tr>
                    {%- endfor %}
                  {%- endfor %}
                </tbody>
            </table>
        <h2>{{ _("Events") }}</h2>
        <h3>{{ _("Recent Published Spam") }}</h3>
            <p><em>to do: Show 20 most recent published spam, how long visible</em></p>
        <h3>{{ _("Recent Blocked Edits") }}</h3>
            <p><em>to do: Show 20 most recent blocked edits, review, reviewer</em></p>

        <div style="display:none">
        <h2>Raw</h2>
            <table>
                <thead>
                    <tr>
                        {% for column_id in raw.columns %}
                        <th class="col-{{ column | replace('_', '-') }}">{{ names[column_id] | default(column_id) }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for data_row in raw.data %}
                    <tr>
                        {% for item in data_row %}
                        <td><code>{{ item }}</code></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <p><em>to do: show generation time</em></p>
{% endblock %}
