{% extends 'base.html' %}
{% set title = _('Spam Dashboard') %}

{% block title %}{{ page_title(title) }}{% endblock %}
{% block extrahead %}
<style>

.dashboard .kpis {
    width: 20%;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.dashboard .kpis dt {
    font-size: large;
}

.dashboard .kpis dd {
    font-size: x-large;
    margin-bottom: 10px;
}

.spam-trends-table {
    border: 0;
    border-collapse: collapse;
}
.spam-trends-table caption {
    text-align: center;
}

.spam-trends-table .period-header {
    text-align: center;
}

.spam-trends-table .changetype-header {
    text-align: right;
    padding-left: 10px;
}

.spam-trends-table .date-current-header {
    border-left: 1px solid black;
    padding-left: 3px;
}
.spam-trends-table .data-current {
    border-left: 1px solid black;
    padding-left: 3px;
}
.spam-trends-table .rate-current {
    border-left: 1px solid black;
    padding-left: 3px;
}
.spam-trends-table .trend-current {
    border-left: 1px solid black;
    padding-left: 3px;
}

.spam-trends-table .date-detail-header {
    font-size: smaller;
    padding-left: 5px;
}

.spam-trends-table .row-header {
    vertical-align: top;
    padding-top: 3px;
    padding-bottom: 3px;
}

.spam-trends-table .data {
    text-align: right;
    font-family: monospace;
}

.spam-trends-table .rate {
    text-align: right;
    font-family: monospace;
}

.spam-trends-table .trend {
    text-align: right;
    font-size: smaller;
    font-family: monospace;
}

.spam-trends-table td.increase::after {
    content: "▲";
    font-size: smaller;
}

.spam-trends-table td.decrease::after {
    content: "▼";
    font-size: smaller;
}

.spam-trends-table .row-total-top {
    border-top: 1px solid black;
}

.spam-trends-table .row-total-bottom {
    border-bottom: 3px solid black;
}

.spam-trends-table .row-total {
    background-color: whitesmoke;
}



</style>
{% endblock %}


{% set stat_ids=('spam_rate', 'spam_blocked_rate', 'blocked_ham_rate',
                 'published_ham', 'published_spam', 'blocked_spam', 'blocked_ham', 'total') %}
{% block content %}

    <div class="dashboard">
        <h1>{{ title }}</h1>
        {% if processing %}
            <p>{{ _('The report is being processed. Please reload in a minute.') }}</p>
        {% else %}
          {% if summary.total %}
            <p>
                {{ _('From %(start)s to %(end)s (%(weeks)s weeks):',
                     start=summary.start, end=summary.end,
                     weeks=summary.days // 7) }}
            </p>
            <dl class='kpis'>
                <dt>{{ ngettext('Edit', 'Edits', summary.total) }}</dt>
                <dd>{{ summary.total }}<dd>
                <dt>{{ _('Spam') }}</dt>
                <dd>{{ "%0.1f%%" | format(100 * summary.spam_rate) }}</dd>
                <dt>{{ _('Spam Blocked') }}</dt>
                <dd>{{ "%d%%" | format(100 * summary.spam_blocked_rate) }}</dd>
                <dt>{{ _('False Positive Rate') }}</dt>
                <dd>{{ "%0.1f%%" | format(100 * summary.blocked_ham_rate) }}</dd>
            </dl>
          {% else %}
            <p>
                {{ _('There were no edits in the past %(count)s days.', count=summary.days) }}
            </p>
          {% endif %}

            <table class='spam-trends-table'>
                <caption>{{ _('Trends Over Time') }}</caption>
                <thead>
                    <tr>
                        <th></th>
                        {% for period in trends.over_time -%}
                        <th colspan=2 class="period-header">{{ names[period.id] | default(period.id) }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="date-detail-header">Ending</th>
                        {%- for period in trends.over_time -%}
                        {%- for group in ('current', 'previous') %}
                        <th class="date-detail-header date-{{group}}-header">{{ period[group].end }}</th>
                        {%- endfor %}
                        {%- endfor %}
                    </tr>
                </thead>
                <tbody>
                    {%- for stat in stat_ids %}
                    <tr class="row-{{stat | replace('_', '-')}} row-{{stat | replace('_', '-')}}-top">
                        <th scope="row" rowspan=2 class="row-header">{{ names[stat] | default(stat) }}</th>
                        {%- for period in trends.over_time -%}
                        {%- for group in ('current', 'previous') %}
                        {%- if stat.endswith('_rate') %}
                        <td class="rate rate-{{group}}">{{ "%0.1f%%" | format(100 * period[group][stat]) }}</td>
                        {%- else %}
                        <td class="data data-{{group}}">{{ period[group][stat] }}</td>
                        {%- endif %}
                        {%- endfor %}
                        {%- endfor %}
                    </tr>
                    <tr class="row-{{stat | replace('_', '-')}} row-{{stat | replace('_', '-')}}-bottom">
                        {%- for period in trends.over_time -%}
                        {%- set diff = period['current'][stat] - period['previous'][stat] %}
                        {%- if period['previous'][stat] > 0 %}
                        {%- set increase = diff / period['previous'][stat] %}
                        {%- else %}
                        {%- set increase = 1 %}
                        {%- endif %}
                        {%- if diff == 0 %}
                        <td class="trend trend-current">0%</td>
                        {%- elif diff > 0 %}
                        <td class="trend trend-current increase">{{ "%d%%" | format(100 * increase) }}</td>
                        {%- else %}
                        <td class="trend trend-current decrease">{{ "%d%%" | format(-100 * increase) }}</td>
                        {%- endif %}
                        <td class="trend trend-previous"></td>
                        {%- endfor %}
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>

            <table class='spam-trends-table'>
                <caption>{{ _('Trends by Edit Type') }}</caption>
                <thead>
                    <tr>
                        <th></th>
                        {% for change_type in change_types %}
                        <th class="changetype-header">{{ names[change_type.id] | default(change_type.id) }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {%- for stat in stat_ids %}
                    <tr class="row-{{stat | replace('_', '-')}} row-{{stat | replace('_', '-')}}-top row-{{stat | replace('_', '-')}}-bottom">
                        <th scope="row" class="row-header">{{ names[stat] | default(stat) }}</th>
                        {%- for change_type in change_types %}
                        {%- if stat.endswith('_rate') %}
                        {%- set stat_id = stat.replace('_rate', '_' + change_type.id + '_rate') %}
                        <td class="rate">{{ "%0.1f%%" | format(100 * summary[stat_id]) }}</td>
                        {%- else %}
                        {%- set stat_id = stat + '_' + change_type.id %}
                        <td class="data">{{ summary[stat_id] }}</td>
                        {%- endif %}
                        {%- endfor %}
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>

            <table class='spam-trends-table'>
                <caption>{{ _('Trends by User Group') }}</caption>
                <thead>
                    <tr>
                        <th></th>
                        {% for group in categories.group %}
                        <th class="changetype-header">{{ names['group_' + group] | default(group) }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {%- for stat in stat_ids %}
                    <tr class="row-{{stat | replace('_', '-')}} row-{{stat | replace('_', '-')}}-top row-{{stat | replace('_', '-')}}-bottom">
                        <th scope="row" class="row-header">{{ names[stat] | default(stat) }}</th>
                        {%- for group in categories.group %}
                        {%- if stat.endswith('_rate') %}
                        {%- set stat_id = stat.replace('_rate', '_group_' + group + '_rate') %}
                        <td class="rate">{{ "%0.1f%%" | format(100 * summary[stat_id]) }}</td>
                        {%- else %}
                        {%- set stat_id = stat + '_group_' + group %}
                        <td class="data">{{ summary[stat_id] }}</td>
                        {%- endif %}
                        {%- endfor %}
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>

        <h2>{{ _('Recent Events') }}</h2>
        <h3>{{ _('Published Spam') }}</h3>
          {% if recent_spam %}
            <table>
                <thead>
                    <tr>
                        <th>{{ _('Date') }}</th>
                        <th>{{ _('Time Active (seconds)') }}</th>
                        <th>{{ _('Revision') }}</th>
                        <th>{{ _('Change Type') }}</th>
                        <th>{{ _('Moderator') }}</th>
                        <th>{{ _('Path') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rs in recent_spam -%}
                    <tr>
                        <td>{{ rs.date }}</td>
                        <td>{{ rs.time_active }}</td>
                        <td><a href="{{ rs.revision_path }}">{{ rs.revision_id }}</a></td>
                        <td>{{ names[rs.change_type] | default(rs.change_type) }}</td>
                        <td>{{ rs.moderator }}</td>
                        <td><a href="{{ rs.document_path }}">{{ rs.document_path }}</a></td>
                    </tr>
                    {% endfor -%}
                </tbody>
            </table>
          {% else %}
            <p>{{ _('No recent published spam.') }}</p>
          {% endif %}

        <h3>{{ _('Blocked Edits') }}</h3>
          {% if recent_blocked %}
            <table>
                <thead>
                    <tr>
                        <th>{{ _('Date') }}</th>
                        <th>{{ _('Change Type') }}</th>
                        <th>{{ _('Moderator') }}</th>
                        <th>{{ _('Review') }}</th>
                        <th>{{ _('Path') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rb in recent_blocked -%}
                    <tr>
                        <td>{{ rb.date }}</td>
                        <td>{{ names[rb.change_type] | default(rb.change_type) }}</td>
                        <td>{{ rb.moderator }}</td>
                        <td><a href="{{ rb.admin_url }}">{{ rb.review }}</a></td>
                        <td>
                            {%- if rb.has_link -%}
                                <a href="{{ rb.document_path }}">{{ rb.document_path }}</a>
                            {%- else -%}
                                {{ rb.document_path }}
                            {%- endif -%}
                        </td>
                    </tr>
                    {% endfor -%}
                </tbody>
            </table>
          {% else %}
            <p>{{ _('No recent blocked edits.') }}</p>
          {% endif %}
        {% endif %}
    </div>
    {% if not processing %}
    <ul>
        <li>{{ _('Historical data generated at %(date)s', date=generated) }}</li>
        <li>{{ _('Recent event data generated at %(date)s', date=now) }}</li>
        <li>
            <a href="{{ url('dashboards.spam_download', output='json') }}">
                {{ _('Download JSON') }}
            </a>
        </li>
        <p>
            <a href="{{ url('dashboards.spam_download', output='stats.csv') }}">
                {{ _("Download daily spam CSV") }}
            </a>
        </p>
    </ul>
    {% endif %}
{% endblock %}
