{% extends "base.html" %}
{% set title = _('Spam Moderators Dashboard') %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block content %}

    <div class="dashboard">
        <h1>{{ title }}</h1>
        <h2>{{ _('Summary') }}</h2>
          {% if summary.total %}
            <p>
                {{ ngettext('Yesterday there were:',
                           'Over the past %(num)s days, there were:',
                           summary.days) }}
                <ul>
                    <li>
                        {{- ngettext('%(num)s attempted edit',
                                     '%(num)s attempted edits',
                                     summary.total) -}}
                    </li>
                    <li>
                        {{- ngettext('%(num)s good contribution',
                                     '%(num)s good contributions',
                                     summary.published_ham) -}}
                    </li>
                    <li>
                        {{- ngettext('%(num)s blocked spam edit (%(rate)0.1f%% of all edits)',
                                     '%(num)s blocked spam edits (%(rate)0.1f%% of all edits)',
                                     summary.blocked_spam,
                                     rate=(100 * summary.blocked_spam_rate)) -}}
                    </li>
                    <li>
                        {{- ngettext('%(num)s blocked ham edit (%(rate)0.1f%% false positive rate)',
                                     '%(num)s blocked ham edits (%(rate)0.1f%% false positive rate)',
                                     summary.blocked_ham,
                                     rate=(100 * summary.blocked_ham_rate)) -}}
                    </li>
                    <li>
                        {{- ngettext('%(num)s published spam edit (%(rate)0.1f%% false negative rate)',
                                     '%(num)s published spam edits (%(rate)0.1f%% false negative rate)',
                                     summary.published_spam,
                                     rate=(100 * summary.published_spam_rate)) -}}
                    </li>
                </ul>
            </p>
          {% else %}
            <p>
                {{ ngettext('There were no edits yesterday.',
                            'There were no edits in the past %(num)s days.',
                            summary.days) }}
            </p>
          {% endif %}
        <h2>{{ _('Trends') }}</h2>
        <h3>{{ _('Over Time') }}</h3>
            <table>
                <thead>
                    <tr>
                        <th rowspan=2 class="col-period head-period">{{ _('Period') }}</th>
                        <th rowspan=2 class="col-period head-period">{{ _('Days') }}</th>
                        <th colspan=9 class="col-group-this-period">{{ _('This Period') }}</th>
                        <th colspan=9 class="col-group-last-period">{{ _('Last Period') }}</th>
                    </tr>
                    <tr>
                        {% for group in ('current', 'previous') -%}
                        <th class="col-start">{{ _('Start') }}</th>
                        <th class="col-end">{{ _('End') }}</th>
                        <th class="col-total">{{ _('Total Edits') }}</th>
                        <th colspan=2 class="col-blocked-spam">{{ _('Blocked Spam') }}</th>
                        <th colspan=2 class="col-published-spam">{{ _('Published Spam') }}</th>
                        <th colspan=2 class="col-blocked-ham">{{ _('Blocked Ham') }}</th>
                        {%- endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in trends.over_time -%}
                    <tr>
                        <th scope="row" class="col-period">{{ row.name }}</th>
                        <td>{{ row.days }}</td>
                        {% for group in ('current', 'previous') %}
                        <td class="date col-start">{{ row[group].start }}</td>
                        <td class="date col-end">{{ row[group].end }}</td>
                        <td class="data col-total">{{ row[group].total }}</td>
                        <td class="data col-blocked-spam">{{ row[group].blocked_spam }}</td>
                        <td class="rate col-blocked-spam">
                            {{- "%0.1f%%" | format(100 * row[group].blocked_spam_rate) -}}
                        </td>
                        <td class="data col-published-spam">{{ row[group].published_spam }}</td>
                        <td class="rate col-published-spam">
                            {{- "%0.1f%%" | format(100 * row[group].published_spam_rate) -}}
                        </td>
                        <td class="data col-blocked-ham">{{ row[group].blocked_ham }}</td>
                        <td class="rate col-blocked-ham">
                            {{- "%0.1f%%" | format(100 * row[group].blocked_ham_rate) -}}
                        </td>
                        {%- endfor %}
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>
        <h3>{{ _("By Edit Type") }}</h3>
            <p><em>to do: Add table of statistics by edit type (new page, edit, new translation)</em></p>
        <h3>{{ _("By Group") }}</h3>
            <p><em>to do: Add table of statistics by group (staff, known authors, other)</em></p>
        <h2>{{ _("Events") }}</h2>
        <h3>{{ _("Recent Published Spam") }}</h3>
            <p><em>to do: Show 20 most recent published spam, how long visible</em></p>
        <h3>{{ _("Recent Blocked Edits") }}</h3>
            <p><em>to do: Show 20 most recent blocked edits, review, reviewer</em></p>

        <div style="display:none">
        <h2>Raw</h2>
            <table>
                <thead>
                    <tr>
                        {% for column_id, column_name in raw.columns %}
                        <th class="col-{{ column | replace('_', '-') }}">{{ column_name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for data_row in raw.data %}
                    <tr>
                        {% for item in data_row %}
                        <td><code>{{ item }}</code></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
